.submitButton {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 10px;
    grid-gap: 10px;
}
.dialogue {
    display: flex;
    flex-direction: column;
    gap: 15px;
}