<h1>Dynamic Table</h1>

         <p-table
          [totalRecords]="totalLength"
          [columns]="col"
          [value]="books"
          [lazy]="pTableOptions.lazy"
          [paginator]="totalLength > 0"
          [reorderableColumns]="pTableOptions.reorderableColumns"
          [showCurrentPageReport]="totalLength > 0"
          [rows]="pTableOptions.rows"
          [rowsPerPageOptions]="pTableOptions.rowsPerPageOptions"
         
          #dt
          [currentPageReportTemplate]="pTableOptions.currentPageReportTemplate"
          styleClass="p-datatable-gridlines p-datatable-sm"
          [currentPageReportTemplate]="pTableOptions.currentPageReportTemplate"
          styleClass="p-datatable-gridlines p-datatable-sm"
          >


<ng-template pTemplate="caption">
    <div class="flex justify-content-end align-items-center caption-buttons">
      <span class="p-input-icon-left mr-2 m-b-5">
        <i class="fal fa-search"></i>
        <input
    
          type="search"
          placeholder="Search..."
          class="search-input"
        />
      </span>

    </div>
  </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th  *ngFor="let col of columns">
                {{ col.title }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body"  let-rowData  let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
  </p-table>